# Top-level configuration
name = "todo-app-worker"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]
# logpush = true

# Durable Objects configuration
[[durable_objects.bindings]]
name = "TODO_WEBSOCKET"
class_name = "TodoWebSocketDurableObject"

# Observability configuration for Wrangler v4
[observability]
enabled = true
# head_sampling_rate = 0.1 # 10% of requests are logged

[observability.traces]
enabled = true
# head_sampling_rate = 0.05

[observability.logs]
enabled = true
# head_sampling_rate = 0.6

[env.production]
name = "prod-todo-worker"
environment = "production"
supabase_url = ""
supabase_anon_key = ""
supabase_service_role_key = ""
log_level = "info"   # "error" | "warn" | "info" | "debug"

[env.staging]
name = "stg-todo-worker"
environment = "staging"
supabase_url = ""
supabase_anon_key = ""
supabase_service_role_key = ""
log_level = "debug"   # "error" | "warn" | "info" | "debug"

# start workers locally
[env.development]
name = "dev-todo-worker"
environment = "development"
supabase_url = ""
supabase_anon_key = ""
supabase_service_role_key = ""
log_level = "debug"   # "error" | "warn" | "info" | "debug"
